@import "tailwindcss";


body{
  font-family: var(--font-monts);
  color: #282828;
}

.box{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
              0 4px 6px rgba(0, 0, 0, 0.1),
              0 6px 10px rgba(0, 0, 0, 0.15),
              0 8px 15px rgba(0, 0, 0, 0.2) ;
}
